*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.titulo {
    text-align: center;
    background-color: #FFB74D; /* naranja suave */
    color: white; /*color letra*/
    border-style: none;
    border-radius: 12px;
    padding: 25px;
    margin: auto;
    width: 46.8%;
}

.barraNavegacion {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    background:  #FFCC80;
    margin: auto;
    width: 47.9%;
    border-radius: 12px;
    text-transform: uppercase;
}

.itemsBarra {
    display: flex;
    background-color: #ffffff;
    gap: 25px;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: #E65100; /*color texto*/
    box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
    transition: background 0.3s, color 0.3s;
}

.itemsBarra:hover {
    background-color: #FFB74D; 
    color: white;
}

.botonBarra {
    display: flex;
    background-color: transparent;
    border: none;   
    font-weight: 600;
    text-transform: uppercase;
    font-size: medium;
}

a {
   text-decoration:  none;
   color: inherit;        
}

.recuadro {
    margin: auto;
    width: 750px;
    height: 450px;
    background-size: 790px ;
    background-repeat: no-repeat;
    border:2px  black solid;
    border-radius: 12px;
    background-color: #ffffff;
    background-image: url(../Img_Restaurante/tavern-8024234_1280.jpg);
    box-shadow: 5px 5px ; /*sombra*/
} 

.descripcion{
    margin: auto;
    width: 750px;
    height: 250px;
    border: transparent;
    text-align: center;
}